venv/
__pycache__/
*.pyc
.env
outputs/
*.csv
*.ipynb


# Environment
.env

# Uploaded datasets
uploads/

# Generated outputs
outputs/

# Python
__pycache__/
*.pyc
.venv/
venv/

# VS Code
.vscode/


outputs 